  
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Assistant', sans-serif;
    font-family: 'Poppins', sans-serif;
     */
*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  
  /* overflow-x: hidden; */
}

body{
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  
}

header h1{
  color: rgb(14, 8, 1);
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2.25em;
  font-family: 'Kanit', sans-serif;
}

.NavMenu{
  display: grid;
  grid-template-columns:20% 40% 20% ;
}

.Price a::before{
  height: 20px;
  width: 20px;
  content: '';
  background-image: url(./asset/bag.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(0.85);
  bottom: 2%;
  position: absolute;
  left: -55%;
}

.Wishlist a::before{
  height: 20px;
  width: 20px;
  content: '';
  background-image: url(./asset/heart.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(0.85);
  bottom: 2%;
  position: absolute;
  left: -55%;
}


.SearchIcon a::before{
  height: 20px;
  width: 20px;
  content: '';
  background-image: url(./asset/search.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(0.85);
  bottom: 2%;
  position: absolute;
  left: -55%;
}

.MenuIcon a::before{
  height: 20px;
  width: 20px;
  content: '';
  background-image: url(./asset/menu.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(1);
  bottom: 2%;
  position: absolute;
  padding-bottom: 30%;
}



.SubMenu{
  display: flex;
  position: relative;
  margin-bottom: 2em;
}

#SubMenu1{
  margin-left: 2em;
}

#SubMenu2{
  margin-left: 8em;
}

#SubMenu3{
  margin-left: 8em;
}

.Wishlist, .Price, .SearchIcon{ 
  position: relative; 
}

.SubMenu a{
  margin-left: 3vw;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  font-size: 0.85em;

  /* padding-left: 1em; */
}

.SubMenu:nth-child(3){
  left: 90%;
  /* background-color: red; */
}

.ShoppingBagIcon{
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  position: absolute;
  left: 50%;
}


                      /* Showcase */

.Showcase{
  min-height: 440px;
  width: 100%;
  position: relative;
  background-image: url(./asset/three-green-aloe-vera-plants-904621.jpg);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text{
  position: absolute;
  top: 30%;
  left: 65%;
  background-color: transparent;
}

.ViewMore{
  position: absolute;
  top: 50%;
  left: 65%;
  height: 50px;
  width: 150px;
  background-color: rgb(5, 5, 5);
  text-decoration: none;
  text-align: center;
  padding-top: 1%;
  color: rgb(255, 255, 255);
}

               /* collection */
  .colection{
  display: flex;
  position: relative;
  margin-top: 4em;
  height: 40em;
}

.collection div:nth-child(1){
  background:url(./asset/pexels-photo-1820567-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  position: absolute;
  left: 0%;
  height: 260px;
  width: 454px;
  margin-top: 4em;

}

.collection div:nth-child(2){
  background:url(./asset/green-leaf-plant-in-brown-pot-inside-room-916339.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  position: absolute;
  left: 30%;
  height: 260px;
  width: 454px;
  margin-top: 4em;

}

.collection div:nth-child(3){
  background:url(./asset/pexels-photo-3502165-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  position: absolute;
  left: 68%;
  height: 260px;
  width: 454px;
  margin-top: 4em;

  /* display: inline-block; */
}

.collection div h2{
  margin-left: 2em;
  margin-top: 3.5em;
}

.collection a{
  position: absolute;
  margin-left: 3em;
  top: 12em;
  color: black;
  text-decoration-color: black;
}

              /* Categories */

.categories{
  text-align: center;
  position: relative;
  top: 30em;
 
}

.categories a{
  margin-right: 2em;
  color: black;
  font-size: 0.85em;
}

              /* Shop */

.shop{
  margin-top: 30em;
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 70em;
  width: 100%;
}

.shop a:nth-child(1){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  margin-left: 2em;
  margin-top: 2em;
  background-image: url(./asset/pexels-photo-931176-removebg-preview\(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(2){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:27%;
  margin-top: 2em;
  background-image: url(./asset/pexels-photo-1445417-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(3){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:54%;
  margin-top: 2em;
  background-image: url(./asset/red-bouquet-roses-bridal-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(4){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:78%;
  margin-top: 2em;
  background-image: url(./asset/pexels-photo-3075988-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(5){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  margin-left: 2em;
  top: 55%;
  margin-top: 2em;
  background-image: url(./asset/pexels-photo-1070860-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(6){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:27%;
  top: 55%;
  margin-top: 2em;
  background-image: url(./asset/red-bouquet-roses-bridal-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(7){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:54%;
  top: 55%;
  margin-top: 2em;
  background-image: url(./asset/tulip-flower-bloom-pink-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(8){
  position: absolute;
  background-color: #F7F5F6;
  height: 426px;
  width: 300px;
  left:78%;
  top: 55%;
  margin-top: 2em;
  background-image: url(./asset/pexels-photo-1058771-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop a:nth-child(1)::before{
  height: 100px;
  width: 300px;
  content: 'Bush Peonies $20.00';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
}

.shop a:nth-child(1)::after{
  height: 100px;
  width: 100px;
  content: 'BOUQUOTE';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.shop a:nth-child(2)::before{
  height: 100px;
  width: 300px;
  content: ' Suri Succulent $17.00';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
}

.shop a:nth-child(2)::after{
  height: 100px;
  width: 100px;
  content: 'Succulents';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.shop a:nth-child(3)::before{
  height: 100px;
  width: 300px;
  content: 'Peonies and Roses $40.00';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
}

.shop a:nth-child(3)::after{
  height: 100px;
  width: 100px;
  content: 'BOUQUOTE';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.shop a:nth-child(4)::before{
  height: 100px;
  width: 300px;
  content: 'Aloe Succulent $40.00';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
}

.shop a:nth-child(4)::after{
  height: 100px;
  width: 100px;
  content: 'Succulents';
  position: relative;
  top: 100%;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: bolder;
  line-height: 21px;
}